[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=PhotoSwiper
Exec=/opt/PhotoSwiper/bin/PhotoSwiper
Icon=PhotoSwiper64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
